node_modules/
serviceAccountKey.json
geolayers-game/public/data/*
wiki_cache.json
backup.json
states_wiki/*
geoscore_questions.json

# Generated vector tiles
tiles/*.mbtiles
.DS_Store
geogeo.json
package-lock.json
